:root {
    --primary-purple: rgb(145, 129, 138);
    --secondary-purple: rgba(145, 129, 138, 1);
    --background-color: radial-gradient(circle, var(--primary-color) 0%, var(--secondary-color) 100%);
    --number-color: rgb(116, 170, 161);
    --screen-color: rgba(255, 248, 248, 0.7);
    --calc-body: radial-gradient(circle, rgba(1, 0, 14, 1) 0%, rgba(10, 10, 10, 1) 21%, rgba(28, 29, 29, 1) 100%);
    --gray-shadow: #625b5f;
}

* {
    box-sizing: border-box;
}

html {
    background: radial-gradient(circle, rgba(145, 129, 138, 0.8813900560224089) 0%, rgba(145, 129, 138, 1) 100%);
  }

  .calculator-body {
    background: var(--calc-body);
    height: 620px;
    max-width: 500px;
    margin: auto;
    border-radius: 20px;
    box-shadow: var(--gray-shadow) 3px 3px 5px;
    position: relative;
  }
  
  #calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 100%;
    margin-block: 15px;
    padding: 20px;
    gap: 5px;
    border: 5px solid rgb(32 31 31);
    border: none;
    border-radius: 10px;
    position: absolute;
  }

  .screen {
    color: #172623;
    font: 3em monospace;
    background-color: var(--screen-color);
    text-align: end;
    width: calc(100% - 100px);
    margin-top: 3dvh;
    padding: 50px;
    border-radius: 10px;
    position: sticky;
  }

  .flex-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }